:root {
    --white: #fff;
    --white-gray: #e0e0e0;
    --gray: #313131;
    --dark-gray: #1a1a1a;
    --blue: #167CDA;
    --dark-blue: #1774ca;
    --blue-gray: #c5d2e5;
}
/* Global */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i {
    color: white;
}
a {
    color: white !important;
    text-decoration: none !important;
} 
ul {
    list-style-type: none;
}
/* Bootstrap */
input:hover, input:focus, input:active {
    border: 1px solid #CED4DA !important;
    box-shadow: none !important;
}
.btn-primary, .btn-secondary {
    font-weight: bold !important;
    font-size: 14px !important;
    color: var(--white) !important;
    background-color: var(--white) !important;
    padding: 10px 15px !important;
    border-radius: 0 !important;
    border: 0 !important;
}
.btn-primary, .btn-primary:focus {
    background-color: var(--blue) !important;
    box-shadow: none !important;
}
.btn-primary:hover {
    background-color: var(--dark-blue) !important;
}
.btn-secondary, .btn-secondary:focus {
    background-color: var(--gray) !important;
    box-shadow: none !important;
}
.btn-secondary:hover {
    background-color: var(--gray) !important;
}
/* Font */
body {
    font-family: 'Lato', 'segoe ui', 'fira sans', 'droid sans', 'helvetica neue', Arial, sans-serif;  
}
h1 {
    font-size: 22pt !important;
    font-weight: 900 !important;
    margin: 0 !important;
}
h2 {
    font-size: 21pt !important;
    font-weight: 800 !important;
    margin: 0 !important;
}
h3 {
    font-size: 19pt !important;
    font-weight: 700 !important;
    margin: 0 !important;
}
h4 {
    font-size: 17pt !important;
    font-weight: 600 !important;
    margin: 0 !important;
}
h5 {
    font-size: 15pt !important;
    font-weight: 500 !important;
    margin: 0 !important;
}
h6 {
    font-size: 13pt !important;
    font-weight: 400 !important;
    margin: 0 !important;
}
p, input, textarea {
    font-size: 12pt !important;
    font-weight: 400 !important;
    margin: 0 !important;
}
input:hover {
    border: 1px solid gray;
}
small, span {
    font-size: 8pt !important;
    font-weight: 100 !important;
}
i {
    font-size: 12pt !important;
}
i:hover {
    cursor: pointer;
}
/* Body */
/* Login & Register */
main {
    color: white;
    background-color: var(--gray);  
    min-height: 100vh;  
}
.form-container {
    color: white;
    background-color: var(--dark-gray);
    width: 500px !important;
    margin-top: 4rem;
    padding: 2rem !important;
}
.login-btn, .register-btn {
    font-weight: 900;
    color: white;
    background-color: var(--gray);
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
}
.login-btn:hover, .register-btn:hover {
    color: var(--dark-gray);
    background-color: white;
}
.otherPage a{
    color: var(--blue-gray) !important;
}
.otherPage a:hover {
    color: white !important;
}
/* Navbar */
.navbar-custom {
    background-color: var(--dark-gray);
    padding: .5em;
}
.navbar-custom #menu-btn {
    border: 0px;
    padding: 0;
    margin: 0 0 0 1.5em;
    background-color: transparent;
    border: none;
}
.navbar-custom #menu-btn i:hover {
    transition: .3s;
    color: var(--dark-gray) !important;
    background-color: white;
}
.navbar-custom .logout-btn {    
    font-weight: 700;
    border: 0px;
    padding: 0;
    margin: 0 0 0 1.5em;
    color: white;
    background-color: var(--gray);
    padding: .15em .5em;
    border-radius: 5px;
    border: none;
}
.navbar-custom .logout-btn:hover {
    transition: .3s;
    color: var(--dark-gray) !important;
    background-color: white;
}
.navbar-custom .fa-dungeon {
    font-size: 23pt !important;
}
.navbar-custom .fa-bars {
    font-size: 11pt !important;
    font-weight: 900 !important;
    background-color: var(--gray);
    padding: .5em;
    border-radius: 5px;
}
.navbar-custom ul {
    margin: 0;
    padding: 0;
}
.navbar-custom ul li a {
    width: fit-content;
    margin-left: 1.5em;
    padding: .25em 0.5em;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--gray);
}
.navbar-custom ul li a:hover {
    transition: .3s;
    color: var(--dark-gray) !important;
    background-color: white;
}
/* User Content */
.content {    
    padding: .5em !important;
    background-color: var(--gray);  
}
.article {
    height: 700px;
}
@media screen and (max-width: 1400px) {
    
}
@media screen and (max-width: 1200px) {    
    
}
@media screen and (max-width: 992px) {
    .navbar-custom {
        width: 100%;
        position: fixed;    
    }
    .hide-menu {
        width: 100%;
        height: fit-content;
        background-color: var(--dark-gray);
        text-align: center !important;

        /* Hide menu */
        position: fixed;
        top: -100%;
        left: 0;
    }
    /* Show menu */
    .show-menu {
        top: 51px;
    }
    .navbar-custom ul li {
        width: 100% !important;
    }
    .navbar-custom ul li a {
        display: block;
        width: 100% !important;
        padding: .15em 0;     
        border-bottom: 5px solid var(--dark-gray);
        border-radius: 0;
        margin-left: 0;
    }    
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-height: 1050px) {
    .form-container {
        margin-top: 2rem ;
    }
}
@media screen and (max-height: 700px) {
    .form-container {
        margin-top: 0 !important;
    }
}